.btn-loading {
    background-color: #EB0237;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 204px;
    min-height: 58px;
  
    &:hover {
      background-color: #94142f;
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: pointer;
    }
  
    .label {
      font-family: "Inter", serif;
      font-weight: 600;
      margin-right: 10px;
      font-size: 18px;
      line-height: 1.4;
    }
  
    .loading {
      width: 16px;
      height: 16px;
      animation: spin 1s linear infinite;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }