.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
    align-items: center;
  }

  .error-message {
    padding: 14px 24px;
    background-color: #0f1318;
    margin-right: 12px;
  }

  .error-img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .error-text {
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 500;
  }
}

  .logo {
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    font-family: Tactic Sans, sans-serif;
  }