.team-info {
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  .stats {
    .user_card {
      display: grid;
      padding: 14px 24px;
      background-color: #0f1318;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: 8px;
      justify-items: end;

      .player {
        display: flex;
        align-items: center;
        min-width: 149px;
        min-height: 36px;

        img {
          width: 36px;
          height: 36px;
          margin-right: 8px;
        }

        span {
          font-family: "Inter", serif;
          font-weight: 600;
          font-size: 16px;
          margin-right: 4px;
        }
      }
      .player-kills {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 81px;
        min-height: 24px;

        .kills-span {
          font-family: "Inter", serif;
          font-weight: 500;
          color: #fafafa66;
          font-size: 14px;
          margin-right: 4px;
        }
      }
    }
  }

  .team-stats {
    grid-column: span 3;
    background-color: #101318;

    .stats-info {
      display: grid;
      background-color: #101318;
    }
    div {
      padding: 14px 24px;
      justify-content: space-around;
      display: flex;
      align-items: center;
      font-family: "Inter", serif;
      font-weight: 600;

      span:first-child {
        font-size: 14px;
        color: #666;
        padding-right: 8px;
      }

      span:last-child {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
